In [ ]:
pip3 install pandas

SyntaxError: invalid syntax (3716164084.py, line 1)

/var/folders/vp/d9hp4spx22q_hf82fy0cjrl00000gn/T/ipykernel_21840/1567009892.py:5: DtypeWarning: Columns (0: MT_001, 1: MT_002, 2: MT_003, 3: MT_004, 4: MT_005, 5: MT_006, 6: MT_007, 7: MT_008, 8: MT_009, 9: MT_010, 10: MT_011, 11: MT_012, 12: MT_013, 13: MT_014, 14: MT_015, 15: MT_016, 16: MT_017, 17: MT_018, 18: MT_019, 19: MT_020, 20: MT_021, 21: MT_022, 22: MT_023, 23: MT_024, 24: MT_025, 25: MT_026, 26: MT_027, 27: MT_028, 28: MT_029, 29: MT_030, 30: MT_031, 31: MT_032, 32: MT_033, 33: MT_034, 34: MT_035, 35: MT_036, 36: MT_037, 37: MT_038, 38: MT_039, 39: MT_040, 40: MT_041, 41: MT_042, 42: MT_043, 43: MT_044, 44: MT_045, 45: MT_046, 46: MT_047, 47: MT_048, 48: MT_049, 49: MT_050, 50: MT_051, 51: MT_052, 52: MT_053, 53: MT_054, 54: MT_055, 55: MT_056, 56: MT_057, 57: MT_058, 58: MT_059, 59: MT_060, 60: MT_061, 61: MT_062, 62: MT_063, 63: MT_064, 64: MT_065, 65: MT_066, 66: MT_067, 67: MT_068, 68: MT_069, 69: MT_070, 70: MT_071, 71: MT_072, 72: MT_073, 73: MT_074, 74: MT_075, 75: MT_076, 76: MT_077, 77: MT_078, 78: MT_079, 79: MT_080, 80: MT_081, 81: MT_082, 82: MT_083, 83: MT_084, 84: MT_085, 85: MT_086, 86: MT_087, 87: MT_088, 88: MT_089, 89: MT_090, 90: MT_091, 91: MT_092, 92: MT_093, 93: MT_094, 94: MT_095, 95: MT_096, 96: MT_097, 97: MT_098, 98: MT_099, 99: MT_100, 100: MT_101, 101: MT_102, 102: MT_103, 103: MT_104, 104: MT_105, 105: MT_106, 106: MT_107, 107: MT_108, 108: MT_109, 109: MT_110, 110: MT_111, 111: MT_112, 112: MT_113, 113: MT_114, 114: MT_115, 115: MT_116, 116: MT_117, 117: MT_118, 118: MT_119, 119: MT_120, 120: MT_121, 121: MT_122, 122: MT_123, 123: MT_125, 124: MT_126, 125: MT_127, 126: MT_128, 127: MT_129, 128: MT_130, 129: MT_131, 130: MT_133, 131: MT_134, 132: MT_135, 133: MT_136, 134: MT_137, 135: MT_138, 136: MT_139, 137: MT_140, 138: MT_141, 139: MT_142, 140: MT_143, 141: MT_144, 142: MT_145, 143: MT_146, 144: MT_147, 145: MT_148, 146: MT_149, 147: MT_150, 148: MT_151, 149: MT_152, 150: MT_153, 151: MT_154, 152: MT_155, 153: MT_157, 154: MT_160, 155: MT_164, 156: MT_165, 157: MT_167, 158: MT_170, 159: MT_173, 160: MT_177, 161: MT_178, 162: MT_179, 163: MT_181, 164: MT_184, 165: MT_185, 166: MT_186, 167: MT_223, 168: MT_224, 169: MT_255, 170: MT_280, 171: MT_289, 172: MT_305, 173: MT_308, 174: MT_322, 175: MT_332, 176: MT_333, 177: MT_334, 178: MT_335, 179: MT_336, 180: MT_337, 181: MT_338, 182: MT_339, 183: MT_340, 184: MT_341, 185: MT_342, 186: MT_343, 187: MT_344, 188: MT_345, 189: MT_346, 190: MT_347, 191: MT_348, 192: MT_349, 193: MT_350, 194: MT_351, 195: MT_352, 196: MT_353, 197: MT_354, 198: MT_355, 199: MT_356, 200: MT_357, 201: MT_358, 202: MT_359, 203: MT_360, 204: MT_361, 205: MT_363, 206: MT_364, 207: MT_365, 208: MT_366, 209: MT_367, 210: MT_368, 211: MT_369, 212: MT_370) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=';')

,Unnamed: 0,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
0,2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
1,2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2,2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
3,2011-01-01 01:00:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
4,2011-01-01 01:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140251,2014-12-31 23:00:00,"2,53807106598985","22,0483641536273","1,73761946133797","150,406504065041","85,3658536585366","303,571428571429","11,3058224985868","282,828282828283","68,1818181818182",...,"276,945039257673",28200.0,"1616,03375527426","1363,63636363636","29,986962190352","5,85137507314219","697,102721685689","176,961602671119","651,026392961877","7621,62162162162"
140252,2014-12-31 23:15:00,"2,53807106598985","21,3371266002845","1,73761946133797","166,666666666667","81,7073170731707","324,404761904762","11,3058224985868","252,525252525253","64,6853146853147",...,"279,800142755175",28300.0,"1569,62025316456","1340,90909090909","29,986962190352","9,94733762434172","671,641791044776","168,614357262104","669,354838709677","6702,7027027027"
140253,2014-12-31 23:30:00,"2,53807106598985","20,6258890469417","1,73761946133797","162,60162601626","82,9268292682927","318,452380952381","10,1752402487281","242,424242424242","61,1888111888112",...,"284,796573875803",27800.0,"1556,96202531646","1318,18181818182","27,3794002607562","9,3622001170275","670,763827919227","153,589315525876","670,087976539589","6864,86486486487"
140254,2014-12-31 23:45:00,"1,26903553299492","21,3371266002845","1,73761946133797","166,666666666667","85,3658536585366","285,714285714286","10,1752402487281","225,589225589226","64,6853146853147",...,"246,252676659529",28000.0,"1443,03797468354","909,090909090909","26,0756192959583","4,09596255119953","664,618086040386","146,911519198664","646,627565982405","6540,54054054054"
140255,2015-01-01 00:00:00,"2,53807106598985","19,9146514935989","1,73761946133797","178,861788617886","84,1463414634146","279,761904761905","10,1752402487281","249,158249158249","62,9370629370629",...,"188,436830835118",27800.0,"1409,28270042194","954,545454545455","27,3794002607562","4,09596255119953","628,621597892889","131,886477462437","673,020527859238","7135,13513513513"